@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

header, h1, h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

body{
    background-color: #FFD9DA;
    font-family: 'Hind', sans-serif;
}

/*CSS HEADER */
header{
    background-color: #30343f;
}

.nav-text li a{
    color: #FFD9DA;
}


.navbar-toggler{
    background-color: #FFD9DA ;
}

.menu-list{
    background-color: #ea638c;
    display: flex;
    width: 400px;
    justify-content: center;
    list-style: none;
    margin: 0 20% 20%;
    border-radius: 8px;
    text-transform: uppercase;
    border-radius: 100px;
}
.menu-list li {
    float: left;
    
}
.menu-list li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 3px;
}
.img-logo{
    width: 300px;
}
/*FIN CSS HEADER */

.main-content{
    background-color: #FFD9DA;
    padding: 6%;
    margin: 5%;
}

.about-me{
    text-align: left;
}
.main-content h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.comm-cont h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.titulo-subtitulo {
    text-transform: uppercase;
    text-align: center;
}

.comm-cont article{
    background-color: #FFD9DA;
    padding: 6%;
    margin: 5%;
    margin-bottom: 10px;
}
.comm-cont h2{
    text-transform: uppercase;
}

.comm-cont img{
    max-width: 300px;
    float: right;
    border: solid rgb(243, 236, 236);
}

.img-home{
    max-width: 300px;
    margin: 8px;
    float: left;
    border-radius: 50%;
}

.img-order{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-order img{
    max-width: 150px;
    margin: 8px;
}

.terminos-cont{
    margin: 5%;
    padding: 5%;
}

.coso-rosa{
    width: 150px;
    height: 40px;
    background-color: #FFD9DA;
    border-radius: 20px;
}

/* CSS Del Boton */
.button-comm,
a.button-comm {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background: #ea638c;
    border-radius: 8px;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-decoration: none;
    border: none;
    font-size: 1rem;
}
.button-comm:hover {
    background: #FFD9DA;
}
.button-cont{
    padding: 5% 50%;
}
.button-cont p{
    padding: 0;
    
}
/* Fin CSS Del Boton */

/*Footer */
footer{
    background-color: #30343f;
    color: #FFD9DA;
}
.socials {
    display: flex;
    justify-content: center;
}
.copyright{
    text-align: center;
    font-weight: bold;
}

footer img{
    max-width: 30px;
    max-height: 30px;
}