@import '../base/variables';
@import '../base/lists';

header, footer{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(146, 124, 124, 0.4) 0%, rgba(0,0,0,0.40) 120%) #7b7b7b;
    background-blend-mode: multiply,multiply;

}

.nav-text li a{
    color: #FFD9DA;
}


.navbar-toggler{
    background-color: #FFD9DA ;
}

.menu-list{
    background-color: #ea638c;
    display: flex;
    width: 400px;
    justify-content: center;
    list-style: none;
    margin: 0 20% 20%;
    border-radius: 8px;
    text-transform: uppercase;
    border-radius: 100px;
}
.menu-list li {
    float: left;
    
}
.menu-list li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 3px;
}
.img-logo{
    width: 300px;
}
